@use "@/assets/utils/styles-forwarded" as *;

.wrapper-info-technic{
  background: $app-bg-secondary;
  border-radius: 40px;
  .container-filter{
    .title-filter{
      font-weight: 600;
      line-height: 22px;

      @include responsive-font(16, 20)
    }
    .structure-filter{
      display: grid;
      grid-column-gap: 24px;
      grid-template-columns: auto 36px 36px;
      .params-radio{

        input[type=radio]{
          display: none;
          &:checked + label{
            color: $app-text-inside;
            background: $app-bg-primary;
          }
        }
        label{
          text-align: center;
          vertical-align: top;
          display: inline-block;
          cursor: pointer;
          position: relative;
          background: $app-bg-global;
          color: $app-text-secondary;
          padding: 8px 12px;
          border-radius: 16px;
          user-select: none;
          transition: all .3s;
          margin-left: 8px;
          font-weight: 500;
          line-height: 18.2px;

          @include responsive-font(10, 14)

        }
      }
      .button-info{
        cursor: pointer;
        padding: 8px;
        border-radius: 50%;
        border: 1px solid $app-bg-global;

        transition: all .3s;
        img{
          transition: all .3s;
          &.img-rotate{
            transform: rotate(180deg);
          }
        }
        &:hover{
          background: $app-bg-global;
        }
      }
    }
  }
  .accordion-content{
    display: grid;
    grid-template-rows: 0fr;
    transition: all .3s;
    & > div {
      overflow: hidden;
      .item-technic{
        width: 140px;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        > div{
          transition: all .3s;
          img {
            filter: grayscale(100%);
          }
          .info-note{
            position: absolute;
            border-radius: 16px;
            background: $app-bg-primary;
            color: $app-text-inside;
            padding: 2px 4px;
            top: 4px;
          }
          &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0px;
          }
          &:hover{
            img {
              filter: grayscale(0%);
            }
          }
          &.selected-technique{
            img {
              filter: grayscale(0%);
            }
          }
        }
        img{
          width: 96px;
          height: 96px;
        }
        .item-technic-text{
          font-weight: 600;
          line-height: 18px;
          text-align: center;
          color: $app-text-title;
          @include responsive-font( 14, 16 )
        }
      }
    }
    &.accordion-active{
      grid-template-rows: 1fr;
    }
  }
  .wrapper-technic-statistics{
    .wrapper-technic{
      overflow-x: auto;
      overflow-y: hidden;
      border-bottom: 1px solid $app-bg-global;
    }
    .wrapper-statistics{
      .container-working-techniques, .container-out-of-order-techniques{
        .chart-working-techniques, .chart-out-of-order-techniques{
          & > div{
            position: relative;
            transition: all .3s;
            user-select: none;
            .indicator-percentages{
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              height: 28px;
              width: 44px;
              top: calc(50% - 14px);
              right: calc( 0% + 2px );
              background: #FFFFFF40;
              border: .5px solid #FFFFFF80;
              border-radius: 8px;
              color: $app-text-inside;
              font-weight: 400;
              line-height: 130%;

              cursor: pointer;

              transition: all .3s;
              @include responsive-font(12, 14)
            }
          }
          & > .chart-working-techniques-selected {
            height: 32px;
            min-width: 48px;
            background: $app-bg-positive;
            border-radius: 8px;
          }

          & > .chart-out-of-order-techniques-selected {
            height: 32px;
            min-width: 48px;
            background: $app-bg-negative;
            border-radius: 8px;
          }

          & > .chart-working-techniques-secondary, .chart-out-of-order-techniques-secondary {
            height: 32px;
            background: #E5E6EA;
            border-radius: 8px;
          }

          .chart-divider {
            width: 1px;
            min-width: 1px;
            height: 10px;
            border-radius: 8px;
            background-color: $app-text-secondary;
            margin: 0 2px;
          }
        }
        .text-working-techniques, .text-out-of-order-techniques{
          .text-working-techniques-title, .text-out-of-order-techniques-title{
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0;
            color: $app-text-title;

            @include responsive-font(12, 16);
          }
          .text-working-techniques-statistic, .text-out-of-order-techniques-statistic{
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0;
            color: $app-text-secondary;

            @include responsive-font(12, 16);

            .text-positive{
              font-weight: 600;
              color: $app-bg-positive;
            }

            .text-negative{
              font-weight: 600;
              color: $app-bg-negative;
            }
          }
        }
      }
    }
  }
}