@use "./variables" as *;
$maxWidth: 1280;

@mixin responsive-font($min-font, $max-font, $maxWidth: 1920) {
  $intermediateSize: $max-font - $min-font;

  font-size: clamp(
          #{$min-font + px},
          calc(#{$min-font + px} + #{$intermediateSize} * ((100vw - 320px) / #{$maxWidth})),
          #{$max-font + px}
  ) !important;
}

@mixin chart-element() {
  background: $app-bg-secondary;
  border-radius: 24px;
  padding: 20px;
  min-height: 250px;
  height: 100%;
}