$app-bg-global: #ECEDF8;
$app-bg-primary: #0554F2;
$app-bg-secondary: #FFFFFF;
$app-bg-positive: #4B87FF;
$app-bg-negative: #F25F5F;

$app-text-inside: #FFFFFF;
$app-text-title: #001233;
$app-text-secondary: #979DAC;
$app-text-active: #0554F2;
